body{
    background-color:cornsilk;
}
#logo{
    width: 30px;
    height: 30px;
    background-color: black;
    border-radius: 50%;
    color:white;

    display: flex;
    justify-content: center;
    align-items:center;

}
header{
    display: flex;
    justify-content: space-around;
    align-items:center;
    background-color: aqua;
}
ul{
    list-style-type: none;
    display: flex;
}
header nav ul a{
    text-decoration: none;
    padding-right: 10px;
    color:black;
}
header nav ul a:hover{ 
    color:red;
}

.active {
    text-decoration: underline;
    text-decoration-color: white;
}